{% extends 'FrontOffice/base.html.twig' %}



{% block body %}

    <section class="page-title bg-1">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block text-center">
                        <span class="text-white"> Aides auditives </span>
                        <h1 class="text-capitalize mb-5 text-lg">Bouchons d'oreille pour protéger votre ouïe</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section doctor-single">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="doctor-img-block">
                        <img src="{{ asset('FrontOffice/images/team/bouchon.jpg')}}" alt="" class="img-fluid w-100">
                    </div>
                </div>

                <div class="col-lg-8 col-md-6">
                    <div class="doctor-details mt-4 mt-lg-0">
                        <h2 class="text-md">Conseils sur la protection auditive</h2>
                        <div class="divider my-4"></div>
                        <p>Les bruits de la circulation, les <strong style="color: #e80887">nuisances sonores liées au travail </strong>, le brouhaha, la musique provenant de haut-parleurs : le monde d’aujourd’hui est bruyant. Parfois de manière presque trop brutale. Or, notre ouïe n’est pas conçue pour supporter de telles sollicitations. Elle a été faite pour évoluer dans la nature. Pour éviter une perte auditive due aux bruits, il est conseillé de porter une protection auditive. Découvrez quels sont les modèles de protection auditive recommandés et à quel moment il faut les utiliser.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


