{% extends 'FrontOffice/base.html.twig' %}

{% block body %}
<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <span class="text-white">Belghith audition</span>
                    <h1 class="text-capitalize mb-5 text-lg">Testez votre audition en 3 minutes</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section service gray-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-title">
                        <h2>Test auditif en ligne</h2>
                        <div class="divider mx-auto my-4"></div>
                        <p>Vous pensez avoir une perte auditive ? Conçu par des spécialistes de l'audition, le test auditif en ligne vous permet de faire rapidement le point sur votre audition depuis chez vous !</p>
                        <div class="btn-container ">
                            <a href="{{ path ('test1') }}"  class="btn btn-main-2 btn-icon btn-round-full">Commencer</a>
                        </div>
                    </div>
                </div>
            </div>
</section>
{% endblock %}