{% extends 'FrontOffice/base.html.twig' %}



{% block body %}

    <section class="page-title bg-1">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block text-center">
                        <span class="text-white"> Aides auditives </span>
                        <h1 class="text-capitalize mb-5 text-lg">Piles et accessoires pour appareil auditif</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
