<form method="post" action="{{ path('app_carrier_delete', {'id': carrier.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce transporteur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ carrier.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
