{% extends 'Backoffice/base.html.twig' %}

{% block title %}Modifier transporteur{% endblock %}

{% block body %}


    {{ include('carrier/_form.html.twig', {'button_label': 'Update'}) }}


    <div class="mb-3" style="display: flex; gap: 10px;">

        <a class="btn btn-primary" href="{{ path('app_carrier_index') }}">Retourner </a>

        {{ include('carrier/_delete_form.html.twig') }} </div>
{% endblock %}
