{% extends 'Backoffice/base.html.twig' %}

{% block title %}Modifier commande{% endblock %}

{% block body %}


    {{ include('back_commande/_form.html.twig', {'button_label': 'Modifier'}) }}


    <div class="mb-3" style="display: flex; gap: 10px;">

    <a href="{{ path('app_back_commande_index') }}">back to list</a>

    {{ include('back_commande/_delete_form.html.twig') }}

    </div>

{% endblock %}